:root {
    /* Page colors */
    --primary-color: #07BEB8;
    --secondary-color: #25283D;
    --accent1-color: #98DFEA;
    --accent2-color: #8F3985;

    /* Typography */
    --heading-font: "Big Shoulders Stencil", sans-serif;
    --text-font: "Winky Sans", sans-serif;;
}


* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: var(--text-font);
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
    justify-content: center;
}

body img {
    width: 400px;
    height: auto;
}


h1 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--text-font);
}


main, footer {
    width: 70vw;
}

main h1 {
    position: absolute;
}

header {
    display: flex;
    margin: 10px 0;
    width: 100%;
    height: 12vh;
    padding: 10px;
    align-items: center;
    background-color: var(--secondary-color);
}

header > .icon > img {
    position: fixed;
    top: 10px;
    border-radius: 2em;
    width: 80px;
    height: 80px;
    z-index: 2;
}

header > nav {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: max(25%); left: min(35%);
    background-color: var(--secondary-color);
    width: 60%;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--accent1-color);
    box-shadow: 2.5px 2.5px 5px var(--accent2-color);
}

header nav a {
    display: block;
    color: var(--accent1-color);
    text-decoration: none;
    font-size: large;
    padding: .3rem;
}

.hero img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

header nav a:hover {
    border: 1px solid var(--accent1-color);
    font-size: large;
    border-radius: 1rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

main, footer {
    background-color: #fff;
    width: 100%;
    padding: 10px;
}

header nav a:hover::before {
    transform: scaleX(1);
}


footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #000;
}

footer span {
    font-family: var(--heading-font);
    font-weight: 900;
    letter-spacing: 2px;
}

footer .contact img{
    margin: 5px;
    width: 40px;
    height: 40px;
}





