:root {
    /* Page colors */
    --primary-color: #07BEB8;
    --secondary-color: #25283D;
    --accent1-color: #98DFEA;
    --accent2-color: #8F3985;

    /* Typography */
    --heading-font: "Big Shoulders Stencil";
    --text-font: "Winky Sans";
}


* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: var(--text-font);
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: white;
    color: #000;
}


h1 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--text-font);
}

main {
    width: 90%;
    margin: 0 auto;
}

main h1{
 text-align: center;
}

article {
    display: flex;
    flex-direction: row-reverse;
}
article img {
    width: 200px;
}


header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    height: 12vh;
    padding: 10px;
    justify-items: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: transparent;
}

header > .icon > img {
    border-radius: 2em;
    width: 80px;
    height: 80px;
    z-index: 2;
}

header > nav {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    color: transparent;
    width: 60%;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--accent1-color);
    box-shadow: 2.5px 2.5px 5px var(--accent2-color);
}

header nav a {
    display: block;
    color: var(--accent1-color);
    background-color: transparent;
    text-decoration: none;
    font-size: large;
    padding: .3rem;
}


header nav a:hover, a.current {
    border: 1px solid var(--accent1-color);
    font-size: large;
    border-radius: 1rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

main, footer {
    background-color: #fff;
    padding: 10px;
    color: black;
}

header nav a:hover::before {
    transform: scaleX(1);
}

section, article {
    margin: 1rem 0;
}

.history {
    display: flex;
    align-items: center;
}

.history img {
    margin: 0 .5rem;
}

.galery {
    margin-top: 1rem;
}

h2 {
    text-align: center;
}

.galery div {
    display: flex;
    margin: 1rem 0;
    justify-content: space-around;
}

.img-cont {
    width: 600px;
}

.galery div figure {
    margin: 0 1rem;
    text-align: center;
}


.galery div figure img {
    width: 100%; height: auto;
}


footer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #000;
}

footer span {
    font-family: var(--heading-font);
    font-weight: 900;
    letter-spacing: 2px;
}

footer .contact img{
    margin: 5px;
    width: 40px;
    height: 40px;
}





