:root {
    --background-darkblue: #2d2b43;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
}

nav {
    background-color: var(--background-darkblue);
    color: white;
    padding: 10px;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: space-around;
}

nav a {
    color:  white;
    background-color: transparent;
    display: block;
    padding: 20px;
    font-size: larger;
    text-decoration: none;
}

h1 {
    color: #2d2b43;
    background-color: transparent;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
    margin: 1rem;
    text-align: justify;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    margin: 15px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid ;
    padding: 1rem;
    border-radius: 15px;
    background-color: var(--background-darkblue);
    color: white;
    text-align: center;
}

aside img {
    width: 250px;
    height: auto;
}


footer {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
}

/* Class Slectors */

.box, .list.box {
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid;
    color: white;
    background-color: #d3d5da;
}
.list.box li {
    list-style: none;
}
.list.box a {
    text-decoration: none;
    color: var(--background-darkblue);
    font-weight: 600;
}

.box{
    position: relative;
    background-color: var(--background-darkblue);
}


.box h2 {
    position: absolute;
    right: 40px;
    top: 20px;
    color: black;
    text-shadow: #0000008e 2px 2px;
}